h1{
    font-family: Arial;  
    text-align: center;
}
/* mobile */
@media(max-width:600px){
    h1{
        color:blueviolet;
        font-size: 20px;
    }
}
/* tablet */
@media(min-width:601px) and (max-width:900px){
    h1{
        color:green;
        font-size: 20px;
    }
}
/* desktop */
@media(min-width:901px){
    h1{
        color: #d74101d4;
        font-size: 20px;
    }
}
