body{
  font-family: arial;
  text-align: center;
}
input{
  padding: 8px;
  border-radius: 3px;
  transition: 0.3s;
}
button{
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
}
input:hover{
    border-color:lightblue;
    cursor:pointer;

}
button:hover{
  border-color: lightblue;
  transition: 0.3x;
}